<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
fail!
<div>
    <a href="/success"><button id="butt">按钮</button></a>
</div>
<div>
    <img id="imgVerify" src="login/getVerify" alt="更换验证码" height="36" width="170">
</div>

<div>
    <img src="/static/img/wechat.jpg">
</div>
<div>
    <h2>SpingMVC文件上传方式</h2>
    <form action="file/upload" method="post" enctype="multipart/form-data">
        选择文件：<input type="file" name="multipartFile"/> <br/>
        <input type="submit" value="上传"/>
    </form>
</div>
<script type="text/javascript" src="https://mmad.top:82/res/static/js/jquery-1.8.2.min.js"></script>
<script>
</script>
</body>
</html>