<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Online-Club</title>
    <link rel="icon" type="image/png" href="../../static/img/MMAD.png">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/index/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" href="../../static/summernote/summernote.min.css">
</head>
<body style="padding-top: 60px;background-color: rgb(237, 244, 246);">
<th:block th:include="common/common.html :: nav"></th:block>
   <div class="container">
      <div class="row">
         <!-- 左边栅格 -->
         <div class="col-md-3 col-xs-12 clearfix" style="padding-left: 7px;padding-right: 7px;padding-top: 30px;">
            <div class="card profile" style="text-align: center;">
               <img th:src="${session.userInfo.getuProfilePhotoName()}" style="width: 130px;height: 130px;border-radius: 50%;">
               <div style="border-bottom: 1px solid #eaebec;">
                 <h4 th:text="${session.userInfo.getuName()}">勇敢的心</h4>
                 <p th:text="${session.userInfo.getuProfile()}"></p>
               </div>
               <div class="col-md-6 col-sm-6 col-xs-6" style="border-right: 1px solid #eaebec;">
                  <a class="text-info">我的社团:<span th:if="${session.myclub_list!=null}" th:text="${session.myclub_list.size()}"></span><span th:if="${session.myclub_list==null}">0</span></a>
               </div>
               <div class="col-md-6 col-sm-6 col-xs-6" >
                  <a th:href="'/u/'+${session.userInfo.getuId()}" class="text-info">个人主页</a>
               </div>
            </div>
            
            <div class="card">
               <div class="box">
                  <div class="box-title  p-3" style="border-bottom: 1px solid #eaebec;">
                     <h4><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> 与我相关</h4>
                  </div>
                  <div class="box-body ">
                     <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span><a>大风文学社的入会申请</a>--待处理
                  </div>
                  <div class="box-body">
                     <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span><a>其它文学社的入会申请</a>--已通过
                  </div>
                  <div class="box-body">
                     热门s
                  </div>
               </div>
            </div>
         </div>
         <!-- 中间的栅格 -->
         <div class="col-md-6 col-xs-12 clearfix" style="padding-left: 7px;padding-right: 7px;padding-top: 30px;">
            <div class="box shadow-sm border rounded bg-white mb-3 card">
               <ul class="nav nav-justified border-bottom panel-heading" style="border-bottom: 1px solid #eaebec;" id="myTab" role="tablist">
                  <li class="nav-item" style="border-right: 1px solid #eaebec;">
                     <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                        <span class="glyphicon glyphicon-pencil " aria-hidden="true"></span>随便说说
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" id="article-tab" data-toggle="tab" href="#article" role="tab" aria-controls="article" aria-selected="false">
                        <span class=" glyphicon glyphicon-edit" aria-hidden="true"></span>文章说说
                     </a>
                  </li>
               </ul>
               <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade in active" id="home" role="tabpanel" aria-labelledby="home-tab">
                     <form id="active_form">
                        <div class="form-group">
                           <label for="sel_role">请选择一个钟意的社团发布动态</label>
                           <select id="sel_role" name="clubname" class="form-control" title="请选择" data-width="150px">
                              <option>空</option>
                           <div th:if="${session.myclub_list!=null}" th:each="myclub:${session.myclub_list}">
                              <option th:text="${myclub.clubName}"></option>
                           </div>
                           </select>
                        </div>
                        <div class="form-group">
                           <textarea placeholder="记录此刻想法..." id="inputTextarea" class="form-control border-0 p-0 shadow-none" rows="4"></textarea>
                        </div>
                        <div class="form-group">
                           <button type="button" onclick="sendActive()" class="btn btn-info btn-lg btn-block">发送 <span class="glyphicon glyphicon-send" aria-hidden="true"></span></button>
                        </div>
                     </form>
                  </div>
                  <div class="tab-pane fade" id="article" role="tabpanel" aria-labelledby="article-tab">
                     <form id="article-form">
                        <div class="form-group">
                           <label >您可以选择一个社团绑定话题</label>
                           <select name="clubname" class="form-control" title="请选择" data-width="150px">
                              <option>空</option>
                              <div th:if="${session.myclub_list!=null}" th:each="myclub:${session.myclub_list}">
                                 <option th:text="${myclub.clubName}"></option>
                              </div>
                           </select>
                        </div>
                        <div class="form-group">
                           <input placeholder="取个标题吧~" class="form-control border-0 p-0 shadow-none" name="title" style="border-bottom: 1px solid #eaebec;">
                        </div>
                        <div class="form-group">
                           <textarea id="summernote" name="articleText"></textarea>
                        </div>
                        <div class="form-group">
                           <button type="button" onclick="sendActive()" class="btn btn-warning btn-lg btn-block">发送 <span class="glyphicon glyphicon-send" aria-hidden="true"></span></button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
            <!--推荐社团滑动块区域-->
            <div class="card" style="text-align: center;">
               <div class="panel panel-warning">
                  <div class="panel-heading">
                     <h4><span><img style="height: 23px;" src="../../static/img/tj.svg"></span>活跃社团推荐</h4>
                  </div>
                  <!--推荐内容区域-->
                  <ul id="bxSlider">
                     <li>
                        <div class="thumbnail">
                           <img src="../../static/img/user_pic.jpg">
                           <div class="caption club_in_bxSlider_body">
                              <div class="club_name_inbxSlider"><a href="#" title="名字">名字</a></div>
                              <div class="club_in_bxSlider_intro">简介</div>
                              <p><img style="display: inline-block;" src="../../static/img/hot.svg">活跃度:<span>45824</span> <a href="#" class="btn btn-warning" role="button">立即加入</a></p>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
            <div th:if="${session.actives!=null}" th:each="active:${session.actives}">
               <div class="card active" th:if="${active.getA_type()==40}">
                  <div class="u_head">
                     <div class="u_profile">
                        <img th:src="${active.profile_name}">
                     </div>
                     <div class="u_name">
                        <a th:href="'/u/'+${active.getU_id()}" th:text="${active.u_name}">勇敢的心</a>
                     </div>
                     <div>
                        <div style="display: inline-block;" th:text="${#dates.format(active.getUpdateTime(),'yyyy-MM-dd HH:mm:ss')}"></div>
                        <div style="display: inline-block;float: right;"><a th:href="'/u/'+${active.getFrom_uid()}" style="color: rgb(204, 204, 216);" th:text="${active.getFrom_uname()}">xx</a></div>
                     </div>
                  </div>
                  <div class="content_active">
                     <pre th:text="${active.getContent()}"></pre>
                  </div>
                  <div class="active-foot">
                     <div style="display: inline-block;"><span th:text="${active.getLiked_count()}"></span>人觉得很赞</div>
                     <div class="btn-group" style=" display: inline-block;float: right;" role="group">
                        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span></button>
                        <ul class="dropdown-menu dropdown_style">
                           <li>
                              <a class="like" th:id="${active.getA_id()}" th:if="${active.getIsliked()==0}"><img src="/static/img/like.svg"><span>赞</span></a>
                              <a class="like" th:id="${active.getA_id()}" th:if="${active.getIsliked()!=0}"><img src="/static/img/liked.svg"><span>已赞</span></a>
                           </li>
                           <li class="moreParent" th:id="${active.getA_id()}"><a class="more" data-toggle="modal" data-target="#content_area"><img src="../../static/img/comment.svg">评论</a></li>
                        </ul>
                     </div>
                     <div class="comment_area">
                        <div th:if="${active.getCommentVOList()!=null}" th:each="comment:${active.getCommentVOList()}">
                           <div class="comment_item" th:if="${comment.getReply_u_id()==0}">
                              <a th:href="'/u/'+${comment.getU_id()}" th:text="${comment.getU_name()}"></a>:<span th:text="${comment.getContent()}"></span>
                           </div>
                           <div class="comment_item" th:if="${comment.getReply_u_id()!=0}">
                              <a th:href="'/u/'+${comment.getU_id()}" th:text="${comment.getU_name()}"></a>回复<a th:href="'/u/'+${comment.getReply_u_id()}" th:text="${comment.getReply_u_name()}"></a>:<span th:text="${comment.getContent()}"></span>
                           </div>
                        </div>
                        <div class="comment_item moreParent" th:id="${active.getA_id()}">
                           <a class="more" data-toggle="modal" data-target="#content_area">共<span th:text="${active.getComment_count()}"></span>条评论 ></a>
                        </div>
                     </div>
                  </div>
               </div>
               <!--文章动态区域-->
               <div class="card active" th:if="${active.getA_type()==50}">
                  <div class="u_head">
                     <div class="u_profile">
                        <img th:src="${active.profile_name}">
                     </div>
                     <div class="u_name">
                        <a th:href="'/u/'+${active.getU_id()}" th:text="${active.u_name}">勇敢的心</a>
                     </div>
                     <div>
                        <div style="display: inline-block;" th:text="${#dates.format(active.getUpdateTime(),'yyyy-MM-dd HH:mm:ss')}"></div>
                        <div style="display: inline-block;float: right;"><a th:href="'/u/'+${active.getFrom_uid()}" style="color: rgb(204, 204, 216);" th:text="${active.getFrom_uname()}">xx</a></div>
                     </div>
                  </div>
                  <div class="media article_area">
                     <div class="media-left">
                        <img class="media-object" th:src="${active.getBkpicName()}">
                     </div>
                     <div class="media-body">
                        <h4 class="media-heading" th:text="${active.getTitle()}">标题</h4>
                        <div class="article_detail">
                           <img src="../../static/img/view.svg"><span th:text="${active.getView_count()}">0</span>阅读&nbsp;<img src="../../static/img/like.svg"><span id="like_num" th:text="${active.getLiked_count()}">0</span>喜欢&nbsp;&nbsp;<a th:href="'/active/article/'+${active.getA_id()}">立即查看</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- 右边栅格 -->
         <div class="col-md-3 col-xs-12 clearfix" style="padding-left: 7px;padding-right: 7px;padding-top: 30px;">
            <div class="card">
               <div class="box">
                  <div class="box-title border-bottom p-3">
                     <h4>24h热门文章<span class="glyphicon glyphicon-fire" aria-hidden="true"></span></h4>
                  </div>
                  <div class="box-body p-3 table-responsive">
                     <table class="table table-condensed">
                        <tr>
                           <td>xxxx社团xxx</td>
                        </tr>
                        <tr>
                           <td>ssss社团xxx</td>
                        </tr>
                        <tr>
                           <td><a href="#" style="text-decoration: none">x455wwwww啊发给我发社团xxx</a></td>
                        </tr>
                     </table>
                  </div>
               </div>
            </div>

            <div class="card">
               <div class="box">
                  <div class="box-title border-bottom p-3">
                     <h4>人气社团推荐<span class="glyphicon glyphicon-signal" aria-hidden="true"></span></h4>
                  </div>
                  <div class="box-body p-3">
                     <table class="table table-condensed">
                        <tr>
                           <td><a href="#" style="text-decoration: none">发社团xxx2</a></td>
                        </tr>
                        <tr>
                           <td><a href="#" style="text-decoration: none">啊发给我</a></td>
                        </tr>
                        <tr>
                           <td><a href="#" style="text-decoration: none">啊发给我发社团xxx</a></td>
                        </tr>
                     </table>
                  </div>
               </div>
            </div>
            <div class="panel panel-info">
               <div class="panel-heading">
                  联系我们
              </div>
               <div class="panel-body">
                  <div class="col-md-3 col-sm-3 col-xs-3"><a target="blank" rel="external nofollow"
                     href="http://wpa.qq.com/msgrd?V=3&uin=1037211029&Site=QQ&Menu=yes"
                     title="QQ在线"><img id="QQ" data-toggle="popover" data-placement="top"  style="width: 30px;height: auto;" src="../../static/img/QQ.svg"></a></div>
                  <div class="col-md-3 col-sm-3 col-xs-3"><a title="新浪微博" target="blank" href="https://weibo.com/u/3196386703"><img style="width: 30px;height: auto;" src="../../static/img/sina.svg"></a></div>
                  <div class="col-md-3 col-sm-3 col-xs-3"><a title="微信公众号"><img style="width: 30px;height: auto;" src="../../static/img/wechat.svg" id="wechat" data-toggle="popover" data-placement="top"></a></div>
                  <div class="col-md-3 col-sm-3 col-xs-3"><a  title="Email: new.y@foxmail.com"><img style="width: 30px;height: auto;" src="../../static/img/email.svg"></a></div>
               </div>
               <div class="panel-footer">
                  <p><a style="text-decoration: none;" href="https://beian.miit.gov.cn/">蜀ICP备2021013474号-1</a></p>
                  <p>Copyright © 2021-2022MMAD</p>
               </div>
           </div>
         </div>
      </div>
   </div>
<!-- Modal -->
<div class="modal fade" id="content_area" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">评论列表</h4>
         </div>
         <div class="modal-body">
            <!--输入框-->
            <div class="col-lg-12">
               <div class="input-group">
                  <input id="comment_input" type="text" class="form-control" placeholder="说点什么">
                  <span class="input-group-btn">
                            <button id="send_comment" class="btn btn-primary" type="button">评论</button>
                        </span>
               </div>
            </div>
            <!--评论列表-->
            <div class="layeropen" id="comment">

            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script src="../../static/js/bootstrap.js"></script>
<script src="../../static/layer/layer.js"></script>
<script src="../../static/summernote/summernote.min.js"></script>
<script src="../../static/js/index.js"></script>
<script type="text/javascript" th:inline="javascript">

   $('#wechat').popover({
      trigger : 'hover',//鼠标以上时触发弹出提示框
      html:true,//开启html 为true的话，data-content里就能放html代码了
      content:"<img style='width: 140px;width: 140px' src='../../static/img/wechat.jpg'>"
   });

   $('#QQ').popover({
      trigger : 'hover',//鼠标以上时触发弹出提示框
      html:true,//开启html 为true的话，data-content里就能放html代码了
      content:"<img style='width: 140px;width: 140px' src='../../static/img/QRCode_QQ.png'>"
   });

   //点赞效果实现
   $('.like').on('click',function (e) {
      var activeId=$(this).attr('id');
      var val=$(this).find('span').text();
      $(this).find('span').text('已赞');
      $(this).find('img').attr('src','../../static/img/liked.svg');
      if (val=='赞'){
         $.ajax({
            url:'/active/like/'+activeId,
            type:'post',
            async:false,
            success:function (result) {
               if (result.code==200){
                  console.log("已赞");
               }else {
                  layer.msg("赞操作失败!");
               }
            }
         });
      }
      if (val=='已赞'){
         $(this).find('span').text('赞');
         $(this).find('img').attr('src','../../static/img/like.svg');
         $.ajax({
            url:'/active/unlike/'+activeId,
            type:'post',
            async: false,
            success:function (result) {
               if (result.code==200){
                  console.log("取消赞");
               }else {
                  layer.msg("取消赞操作失败!");
               }
            }
         });
      }
      e.stopPropagation();
   });

   var activeId=0;
   //查看更多弹出评论的模态框
   $('.more').click(function () {
      $('#comment').empty();
      activeId=$(this).parent('.moreParent').attr('id');
      $.ajax({
         url:'/get/comments',
         data:'activeId='+activeId,
         async:false,
         type: 'GET',
         success:function (res) {
            if (res.code==200&&res.data.comments.length!=0){
               var comments=res.data.comments;
               var htmlStr='';
               var htmlStr_r='';
               $.each(comments,function (i,item) {
                  if (item.reply_u_id==0){
                     htmlStr='<div class="comment_item" id="'+item.c_id+'"><a class="c_user" id="'+item.u_id+'" href="/u/'+item.u_id+'">'+item.u_name+'</a>:<span class="c_content">'+item.content+'</span><div class="reply-btn" style="float: right"><a>回复</a></div></div>';
                     $('#comment').append($.parseHTML(htmlStr));
                  }
                  if (item.reply_u_id!=0){
                     htmlStr_r='<div class="comment_item" id="'+item.c_id+'"><a class="c_user" id="'+item.u_id+'" href="/u/'+item.u_id+'">'+item.u_name+'</a>回复<a href="/u/'+item.reply_u_id+'">'+item.reply_u_name+'</a>:<span class="c_content">'+item.content+'</span><div class="reply-btn" style="float: right"><a>回复</a></div></div>';
                     $('#comment').append($.parseHTML(htmlStr_r));
                  }
               });
            }
         }
      })
   });

   var comment_id=0;
   var r_name='';
   var r_uid=0;
   $("#comment").on("click",".reply-btn",function () {
      console.log("开始回复操作");
      comment_id=$(this).parent('.comment_item').attr('id');
      r_name=$(this).parent('.comment_item').find('.c_user').text();
      r_uid=$(this).parent('.comment_item').find('.c_user').attr('id');
      $('#comment_input').attr('placeholder','回复 '+r_name+':');
   });
   //sendComment
   $('#send_comment').click(function () {
      var content=$('#comment_input').val();
      if(content.replace(/\s*/g,'').length==0) {
         layer.msg("评论不能为空~");
         return;
      }
      var u_id=[[${session.userInfo.uId}]];
      var username=[[${session.userInfo.uName}]];
      var formData=new FormData();
      formData.append('content',content);
      formData.append('sourceid',activeId);
      formData.append('replyId',comment_id);
      if (comment_id==0){
         $.ajax({
            url:'/comment/commit',
            type:'post',
            data:formData,
            processData:false,
            contentType:false,
            success:function (result) {
               if (result.code==200){
                  layer.msg("评论成功!");
                  $('#comment_input').val("");
                  var htmlStr='<div class="comment_item"><a class="c_user" href="/u/'+u_id+'">'+username+'</a>:<span class="c_content">'+content+'</span><div class="reply-btn" style="float: right"><a>回复</a></div></div>';
                  $('#comment').prepend($.parseHTML(htmlStr));
                  comment_id=0;
                  r_name='';
                  r_uid=0;
               }
            }
         })
      }
      else {
         $.ajax({
            url:'/comment/commit',
            type:'post',
            data:formData,
            processData:false,
            contentType:false,
            success:function (result) {
               if (result.code==200){
                  layer.msg("回复成功!");
                  $('#comment_input').val("");
                  var htmlStr_r='<div class="comment_item"><a class="c_user" href="/u/'+u_id+'">'+username+'</a>回复<a href="/u/'+r_uid+'">'+r_name+'</a>:<span class="c_content">'+content+'</span><div class="reply-btn" style="float: right"><a>回复</a></div></div>';
                  $('#comment').prepend($.parseHTML(htmlStr_r));
                  comment_id=0;
                  r_name='';
                  r_uid=0;
                  $('#comment_input').attr('placeholder',' ');
               }
            }
         })
      }
   });
</script>
</html>