<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="${active.activeTitle}">文章详情</title>
    <link rel="icon" type="image/png" href="../../static/img/MMAD.png" th:href="@{/static/favicon.ico}">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/newsdetail/style.css">
</head>
<body style="padding-top: 60px;background-color: rgb(237, 244, 246);">
<th:block th:include="common/common.html :: nav"></th:block>
<div class="container">
    <div class="row">
        <!-- 左边栅格 -->
        <div class="col-md-3 col-xs-12" style="padding-left: 7px;padding-right: 7px;padding-top: 30px;">
            <div class="panel panel-warning">
                <div class="panel-heading">其他热门文章推荐</div>
                <div class="list-group" id="HotArticleTable">
                </div>
            </div>
        </div>
        <!-- 中间的栅格 -->
        <div class="col-md-9 col-xs-12 clearfix" style="padding-left: 7px;padding-right: 7px;padding-top: 30px;">
            <div class="list-group">
                <h2 class="list-group-item-heading" style="text-align: center" th:text="${active.activeTitle}">标题</h2>
                <div class="list-group-item-warning" style="padding: 5px 2px 5px 2px;margin-bottom: 8px;">
                    <div style="float: left;padding-right: 15px">作者:<a th:href="'/u/'+${active.uId}" th:text="${author.uName}">xxx</a></div>
                    <div style="float: left;padding-right: 15px">来源:<a th:if="${fromClub!=null}" th:href="'/u/'+${fromClub.uId}" th:text="${fromClub.uName}">社团名</a></div>
                    <div style="float:right">发布时间:<span th:text="${#dates.format(active.updateTime,'yyyy-MM-dd')}"></span></div>
                    <div >浏览数:<span th:text="${active.viewedCount}">35648</span></div>
                </div>
                <div id="content" class="list-group-item-text" style="background-color: white;padding: 10px 5px 10px 5px">
                </div>
            </div>

            <div class="panel panel-warning">
                <div class="panel-heading">留言<div id="collect" style="float: right"><a id="collect-btn">收藏</a><span class="badge" id="likeNum">4658</span></div></div>
                <div class="panel-body">
                    <div class="comment_area">
                        <div class="comment_item" id="omit"><a data-toggle="modal" data-target="#content_area">共<span id="commentCount"></span>条回复 ></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="content_area" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">评论列表</h4>
            </div>
            <div class="modal-body">
                <!--输入框-->
                <div class="col-lg-12">
                    <div class="input-group">
                        <input id="comment_input" type="text" class="form-control" placeholder="说点什么">
                        <span class="input-group-btn">
                            <button id="send_comment" class="btn btn-primary" type="button">评论</button>
                        </span>
                    </div>
                </div>
                <!--评论列表-->
                <div class="layeropen" id="comment">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="../../static/js/bootstrap.js"></script>
<script src="../../static/layer/layer.js"></script>
<script type="text/javascript" th:inline="javascript">

    //获取热门文章内容
    $.ajax({
        url:'/active/getHotArticle',
        type:'GET',
        success:function (result) {
            if (result.code==200&&result.data.articles.length!=0){
                var articles=result.data.articles;
                $.each(articles,function (i,item) {
                    var htmlStr='<a href="/active/article/'+item.activeId+'" class="list-group-item">'+item.activeTitle+'</a>';
                    $('#HotArticleTable').append($.parseHTML(htmlStr));
                });
            }
            else {
                var htmlStr='暂无热门推荐~';
                $('#HotArticleTable').append($.parseHTML(htmlStr));
            }
        }
    });

    var sourceId=[[${active.activeId}]];
    var commentCount=0;
    $.ajax({
        url:'/get/comments',
        data:'activeId='+sourceId,
        async:false,
        type: 'GET',
        success:function (res) {
            if (res.code==200&&res.data.comments.length!=0){
                commentCount=res.data.comments.length;
                $('#commentCount').text(commentCount);
                var comments=res.data.comments;
                var htmlStr='';
                var htmlStr_r='';
                for (var i=0;i<2;i++){
                    if (comments[i].reply_u_id==0){
                        var str='<div class="comment_item"><a href="/u/'+comments[i].u_id+'">'+comments[i].u_name+'</a>:<span>'+comments[i].content+'</span></div>'
                        $('.comment_area').prepend($.parseHTML(str));
                    }
                    if (comments[i].reply_u_id!=0){
                        var str='<div class="comment_item"><a href="/u/'+comments[i].u_id+'">'+comments[i].u_name+'</a>回复<a href="/u/'+comments[i].reply_u_id+'">'+comments[i].reply_u_name+'</a>:<span>'+comments[i].content+'</span></div>'
                        $('.comment_area').prepend($.parseHTML(str));
                    }
                }
                $.each(comments,function (i,item) {
                    if (item.reply_u_id==0){
                        htmlStr='<div class="comment_item" id="'+item.c_id+'"><a class="c_user" id="'+item.u_id+'" href="/u/'+item.u_id+'">'+item.u_name+'</a>:<span class="c_content">'+item.content+'</span><div class="reply-btn" style="float: right"><a>回复</a></div></div>';
                        $('#comment').append($.parseHTML(htmlStr));
                    }
                    if (item.reply_u_id!=0){
                        htmlStr_r='<div class="comment_item" id="'+item.c_id+'"><a class="c_user" id="'+item.u_id+'" href="/u/'+item.u_id+'">'+item.u_name+'</a>回复<a href="/u/'+item.reply_u_id+'">'+item.reply_u_name+'</a>:<span class="c_content">'+item.content+'</span><div class="reply-btn" style="float: right"><a>回复</a></div></div>';
                        $('#comment').append($.parseHTML(htmlStr_r));
                    }
                });
            }
            if (res.code==200&&res.data.comments.length==0){
                $('#commentCount').text(0);
            }
        }
    })

    //根据活动id获取点赞数
    $.ajax({
        url:'/active/getLikeNum/'+sourceId,
        type:'GET',
        async:false,
        success:function (result) {
            if (result.code==200){
                $('#likeNum').text(result.data.num);
                if (result.data.islike==0){
                    $('#collect-btn').text('收藏');
                }else if (result.data.islike==1){
                    $('#collect-btn').text('已收藏');
                }
            }
        }
    });

    $(function () {
        var content=[[${active.content}]]
        $('#content').append($.parseHTML(content));
    });

    $('#collect').click(function () {
        if ($(this).find('a').text()=='收藏'){
            var like_num=$(this).find('span').text();
            $(this).find('a').text('已收藏');
            like_num++;
            $(this).find('span').text(like_num);
            $.ajax({
                url:'/active/like/'+sourceId,
                type:'post',
                async:false,
                success:function (result) {
                    if (result.code==200){
                        layer.msg("收藏成功!");
                    }
                    else {
                        layer.msg("收藏失败");
                    }
                }
            });
        }else if($(this).find('a').text()=='已收藏'){
            var like_num=$(this).find('span').text();
            $(this).find('a').text('收藏');
            like_num--;
            $(this).find('span').text(like_num);
            $.ajax({
                url:'/active/unlike/'+sourceId,
                type:'post',
                async: false,
                success:function (result) {
                    if (result.code==200){
                        layer.msg("已取消收藏");
                    }
                    else {
                        layer.msg("操作失败!");
                    }
                }
            });
        }
    });

    var comment_id=0;
    var r_name='';
    var r_uid=0;

    $('.reply-btn').click(function () {
        console.log("开始回复操作");
        comment_id=$(this).parent('.comment_item').attr('id');
        r_name=$(this).parent('.comment_item').find('.c_user').text();
        r_uid=$(this).parent('.comment_item').find('.c_user').attr('id');
        $('#comment_input').attr('placeholder','回复 '+r_name+':');
    });

    $('#send_comment').click(function () {
        var content=$('#comment_input').val();
        if(content.replace(/\s*/g,'').length==0) {
            layer.msg("评论不能为空~");
            return;
        }
        var u_id=[[${session.userInfo.uId}]];
        var username=[[${session.userInfo.uName}]];
        console.log("当前用户name=="+username+"\n 当前活动id=="+sourceId+"\n 当前用户id=="+u_id);
        var formData=new FormData();
        formData.append('content',content);
        formData.append('sourceid',sourceId);
        formData.append('replyId',comment_id);
        if (comment_id==0){
            $.ajax({
                url:'/comment/commit',
                type:'post',
                data:formData,
                processData:false,
                contentType:false,
                success:function (result) {
                    if (result.code==200){
                        layer.msg("评论成功!");
                        $('#comment_input').val("");
                        var htmlStr='<div class="comment_item"><a class="c_user" href="/u/'+u_id+'">'+username+'</a>:<span class="c_content">'+content+'</span><div class="reply-btn" style="float: right"><a>回复</a></div></div>';
                        $('#comment').prepend($.parseHTML(htmlStr));
                        comment_id=0;
                        r_name='';
                        r_uid=0;
                    }
                }
            })
        }
        else {
            $.ajax({
                url:'/comment/commit',
                type:'post',
                data:formData,
                processData:false,
                contentType:false,
                success:function (result) {
                    if (result.code==200){
                        layer.msg("回复成功!");
                        $('#comment_input').val("");
                        var htmlStr_r='<div class="comment_item">' +
                            '<a class="c_user" href="/u/'+u_id+'">'+username+'</a>回复<a href="/u/'+r_uid+'">'+r_name+'</a>:<span class="c_content">'+content+'</span>' +
                            '<div class="reply-btn" style="float: right"><a>回复</a></div></div>';
                        $('#comment').prepend($.parseHTML(htmlStr_r));
                        comment_id=0;
                        r_name='';
                        r_uid=0;
                    }
                }
            })
        }
    });

</script>
</html>