<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>消息中心</title>
    <link rel="icon" type="image/png" href="../../static/img/MMAD.png">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
</head>
<body style="padding-top: 60px;background-color: rgb(237, 244, 246);">
<th:block th:include="common/common.html :: nav"></th:block>
<div class="container">
    <div class="row">
        <div class="col-md-2 col-xs-2" style="padding-left: 7px;padding-right: 7px;padding-top: 30px;">
            <div class="panel panel-warning">
                <div class="panel-heading">消息中心</div>
                <ul id="myTab" class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active">
                        <a href="#application" data-toggle="tab">通知<span style="float: right" class="badge">0</span></a>
                    </li>
                    <li role="presentation">
                        <a href="#like" data-toggle="tab">点赞<span style="float: right" class="badge">0</span></a>
                    </li>
                    <li role="presentation">
                        <a href="#comment" data-toggle="tab">评论<span style="float: right" class="badge">0</span></a>
                    </li>
                    <li role="presentation">
                        <a href="#message" data-toggle="tab">私信<span style="float: right" class="badge">0</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 中间的栅格 -->
        <div class="col-md-10 col-xs-10 clearfix" style="padding-left: 7px;padding-right: 7px;padding-top: 30px;">
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="application">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success">Dxxxx申请成功xxx<a class="checkmore" id="xxx" style="float: right">查看备注</a></li>
                        <li class="list-group-item list-group-item-danger">Dxxxx申请失败xxx<a class="checkmore" id="xxxx" style="float: right">查看备注</a></li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="like">
                    <div class="list-group">
                        <li class="list-group-item list-group-item-info">xxx赞了你的文章xxxxx<a href="#" style="float: right">查看</a></li>
                        <li class="list-group-item list-group-item-info">xxx赞了你的动态xxxx<a href="#" style="float: right">查看</a></li>
                    </div>
                </div>
                <div class="tab-pane fade" id="comment">
                    <div class="list-group">
                        <li class="list-group-item list-group-item-info">xxx在xxx中xx了你<a href="#" style="float: right">查看</a></li>
                        <li class="list-group-item list-group-item-info">xxx在xxx中xx了你<a href="#" style="float: right">查看</a></li>
                    </div>
                </div>
                <div class="tab-pane fade" id="message">
                    <a href="#" class="list-group-item">
                        <div style="padding-right: 10px;display: inline-block"><img src="../../static/img/user_pic.jpg" style="width: 60px;height: 60px"></div>
                        <div style="display: inline-block;width: 90%">
                            <div style="font-size: 15px;color: black;">飞翔的企鹅<span style="color: rgb(204,204,216);float: right">3月8日</span></div>
                            <div style="padding-top:4px;font-size: 13px">哈哈哈哈哈<span style="float: right;color: #fff9a0" class="badge">1</span></div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item">
                        <div style="padding-right: 10px;display: inline-block"><img src="../../static/img/user_pic.jpg" style="width: 60px;height: 60px"></div>
                        <div style="display: inline-block;width: 90%">
                            <div style="font-size: 15px;color: black;">飞翔的笨蛋<span style="color: rgb(204,204,216);float: right">3月9日</span></div>
                            <div style="padding-top:4px;font-size: 13px">哈侬是谁<span style="float: right;color: #fff9a0" class="badge">12</span></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="../../static/js/bootstrap.js"></script>
<script src="../../static/layer/layer.js"></script>
<script>
    $(function () {
        $('#myTab li:eq(0) a').tab('show');
    });

    $('.checkmore').click(function () {
        var content=$(this).attr('id');
        console.log(content);
        layer.alert(content,{closeBtn:false,shift:2,title:'备注'});
    });
</script>
</html>