.card {
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.profile{
    padding-top: 40px;
    padding-bottom: 40px;
}

.active{
    padding-left: 25px;
    padding-right: 25px;

}
.active-foot{
    width: 100%;
    padding-top: 5px;
    
}

.layeropen{
    padding-top: 56px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}

.comment_item{
    padding-bottom: 3px;
    border-bottom: 1px solid #eaebec;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.reply-btn{
    float:right;
    display: inline-block
}

.article_body{
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.article_title{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.article_title a{
    text-decoration: none;
}
.article_title img{
    width: 40px;
    height: 40px;
    padding-right: 3px;
    padding-bottom: 5px;
}

.comment_item a{
    text-decoration: none;
}

.u_profile{
    float: left;padding-right: 10px;
}

.u_name {
    
    text-decoration: none;font-size: 20px;
    color: #3399CC;
}

.u_profile img{
    width: 50px;height: 50px;border-radius: 50%;
}
.u_head{
    padding-bottom: 10px;border-bottom: 1px solid #eaebec;
}

.content_active{
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 10px;
    border-bottom: 1px solid #eaebec;
}

.bx-wrapper{
    margin-bottom: 10px;
    padding-right: 20px;
    border:2px solid rgb(217, 237, 247);
}

.club_in_bxSlider_body{
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}

.club_in_bxSlider_body span{
    color: rgb(204,204,216);
}

.club_in_bxSlider_body img{
    height: 20px;
    width: 20px;
}
.club_name_inbxSlider{
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 10px;
}

.club_in_bxSlider_intro{
    color: rgb(204,204,216);
    height: 60px;
    text-align: left;
    display:-webkit-box;
    -webkit-line-clamp:3;/*设置超过为省略号的行数*/
    overflow:hidden;
    /*autoprefixer:off*/
    -webkit-box-orient:vertical;
    text-overflow:ellipsis;
}

.dropdown_style{
    min-width: 100px;
}

.dropdown_style img{
    width: 20px;height: 20px;
}

.article_area .media-left img{
    width: 50px;height: 50px;
}

.article_area .media-body{
    padding-left: 10px;
    padding-top:5px;
    background-color: #ebebeb;
    border-radius: 3%;
}

.article_detail img{
    width: 20px;
    height: 20px;
}


