<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljy.oneclub.dao.ActiveAndClubMapper" >
  <resultMap id="BaseResultMap" type="com.ljy.oneclub.entity.ActiveAndClub" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="from_club_id" property="fromClubId" jdbcType="INTEGER" />
    <result column="active_id" property="activeId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, from_club_id, active_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ljy.oneclub.entity.ActiveAndClubExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from active_and_club
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from active_and_club
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from active_and_club
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ljy.oneclub.entity.ActiveAndClubExample" >
    delete from active_and_club
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ljy.oneclub.entity.ActiveAndClub" >
    insert into active_and_club (id, from_club_id, active_id
      )
    values (#{id,jdbcType=INTEGER}, #{fromClubId,jdbcType=INTEGER}, #{activeId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ljy.oneclub.entity.ActiveAndClub" >
    insert into active_and_club
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fromClubId != null" >
        from_club_id,
      </if>
      <if test="activeId != null" >
        active_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fromClubId != null" >
        #{fromClubId,jdbcType=INTEGER},
      </if>
      <if test="activeId != null" >
        #{activeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ljy.oneclub.entity.ActiveAndClubExample" resultType="java.lang.Integer" >
    select count(*) from active_and_club
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update active_and_club
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.fromClubId != null" >
        from_club_id = #{record.fromClubId,jdbcType=INTEGER},
      </if>
      <if test="record.activeId != null" >
        active_id = #{record.activeId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update active_and_club
    set id = #{record.id,jdbcType=INTEGER},
      from_club_id = #{record.fromClubId,jdbcType=INTEGER},
      active_id = #{record.activeId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ljy.oneclub.entity.ActiveAndClub" >
    update active_and_club
    <set >
      <if test="fromClubId != null" >
        from_club_id = #{fromClubId,jdbcType=INTEGER},
      </if>
      <if test="activeId != null" >
        active_id = #{activeId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ljy.oneclub.entity.ActiveAndClub" >
    update active_and_club
    set from_club_id = #{fromClubId,jdbcType=INTEGER},
      active_id = #{activeId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>