<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljy.oneclub.dao.ApplicationMapper" >
  <resultMap id="BaseResultMap" type="com.ljy.oneclub.entity.Application" >
    <id column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="app_type" property="appType" jdbcType="INTEGER" />
    <result column="app_user_id" property="appUserId" jdbcType="INTEGER" />
    <result column="app_to_user_id" property="appToUserId" jdbcType="INTEGER" />
    <result column="app_user_name" property="appUserName" jdbcType="VARCHAR" />
    <result column="app_gender" property="appGender" jdbcType="VARCHAR" />
    <result column="app_user_tel_num" property="appUserTelNum" jdbcType="VARCHAR" />
    <result column="app_user_detail_info" property="appUserDetailInfo" jdbcType="VARCHAR" />
    <result column="app_reason" property="appReason" jdbcType="VARCHAR" />
    <result column="app_file" property="appFile" jdbcType="VARCHAR" />
    <result column="app_status" property="appStatus" jdbcType="INTEGER" />
    <result column="app_deal_result" property="appDealResult" jdbcType="VARCHAR" />
    <result column="app_time" property="appTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="applyJson" type="com.ljy.oneclub.vo.ApplicationJson">
    <id column="app_id" property="appId" jdbcType="INTEGER" />
    <result column="type" property="type" />
    <result column="app_user_name" property="name" jdbcType="VARCHAR" />
    <result column="app_gender" property="gender" jdbcType="VARCHAR" />
    <result column="app_user_tel_num" property="telNum" jdbcType="VARCHAR" />
    <result column="app_user_detail_info" property="detailInfo" jdbcType="VARCHAR" />
    <result column="app_reason" property="reason" jdbcType="VARCHAR" />
    <result column="astatus" property="status" />
    <result column="app_deal_result" property="dealResult" jdbcType="VARCHAR" />
    <result column="app_time" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    app_id, app_type, app_user_id, app_to_user_id, app_user_name, app_gender, app_user_tel_num, 
    app_user_detail_info, app_reason, app_file, app_status, app_deal_result, app_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ljy.oneclub.entity.ApplicationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from application
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from application
    where app_id = #{appId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from application
    where app_id = #{appId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ljy.oneclub.entity.ApplicationExample" >
    delete from application
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ljy.oneclub.entity.Application" >
    insert into application (app_id, app_type, app_user_id, 
      app_to_user_id, app_user_name, app_gender, 
      app_user_tel_num, app_user_detail_info, app_reason, 
      app_file, app_status, app_deal_result, 
      app_time)
    values (#{appId,jdbcType=INTEGER}, #{appType,jdbcType=INTEGER}, #{appUserId,jdbcType=INTEGER}, 
      #{appToUserId,jdbcType=INTEGER}, #{appUserName,jdbcType=VARCHAR}, #{appGender,jdbcType=VARCHAR}, 
      #{appUserTelNum,jdbcType=VARCHAR}, #{appUserDetailInfo,jdbcType=VARCHAR}, #{appReason,jdbcType=VARCHAR}, 
      #{appFile,jdbcType=VARCHAR}, #{appStatus,jdbcType=INTEGER}, #{appDealResult,jdbcType=VARCHAR}, 
      #{appTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ljy.oneclub.entity.Application" >
    insert into application
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="appId != null" >
        app_id,
      </if>
      <if test="appType != null" >
        app_type,
      </if>
      <if test="appUserId != null" >
        app_user_id,
      </if>
      <if test="appToUserId != null" >
        app_to_user_id,
      </if>
      <if test="appUserName != null" >
        app_user_name,
      </if>
      <if test="appGender != null" >
        app_gender,
      </if>
      <if test="appUserTelNum != null" >
        app_user_tel_num,
      </if>
      <if test="appUserDetailInfo != null" >
        app_user_detail_info,
      </if>
      <if test="appReason != null" >
        app_reason,
      </if>
      <if test="appFile != null" >
        app_file,
      </if>
      <if test="appStatus != null" >
        app_status,
      </if>
      <if test="appDealResult != null" >
        app_deal_result,
      </if>
      <if test="appTime != null" >
        app_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="appId != null" >
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="appType != null" >
        #{appType,jdbcType=INTEGER},
      </if>
      <if test="appUserId != null" >
        #{appUserId,jdbcType=INTEGER},
      </if>
      <if test="appToUserId != null" >
        #{appToUserId,jdbcType=INTEGER},
      </if>
      <if test="appUserName != null" >
        #{appUserName,jdbcType=VARCHAR},
      </if>
      <if test="appGender != null" >
        #{appGender,jdbcType=VARCHAR},
      </if>
      <if test="appUserTelNum != null" >
        #{appUserTelNum,jdbcType=VARCHAR},
      </if>
      <if test="appUserDetailInfo != null" >
        #{appUserDetailInfo,jdbcType=VARCHAR},
      </if>
      <if test="appReason != null" >
        #{appReason,jdbcType=VARCHAR},
      </if>
      <if test="appFile != null" >
        #{appFile,jdbcType=VARCHAR},
      </if>
      <if test="appStatus != null" >
        #{appStatus,jdbcType=INTEGER},
      </if>
      <if test="appDealResult != null" >
        #{appDealResult,jdbcType=VARCHAR},
      </if>
      <if test="appTime != null" >
        #{appTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ljy.oneclub.entity.ApplicationExample" resultType="java.lang.Integer" >
    select count(*) from application
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update application
    <set >
      <if test="record.appId != null" >
        app_id = #{record.appId,jdbcType=INTEGER},
      </if>
      <if test="record.appType != null" >
        app_type = #{record.appType,jdbcType=INTEGER},
      </if>
      <if test="record.appUserId != null" >
        app_user_id = #{record.appUserId,jdbcType=INTEGER},
      </if>
      <if test="record.appToUserId != null" >
        app_to_user_id = #{record.appToUserId,jdbcType=INTEGER},
      </if>
      <if test="record.appUserName != null" >
        app_user_name = #{record.appUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.appGender != null" >
        app_gender = #{record.appGender,jdbcType=VARCHAR},
      </if>
      <if test="record.appUserTelNum != null" >
        app_user_tel_num = #{record.appUserTelNum,jdbcType=VARCHAR},
      </if>
      <if test="record.appUserDetailInfo != null" >
        app_user_detail_info = #{record.appUserDetailInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.appReason != null" >
        app_reason = #{record.appReason,jdbcType=VARCHAR},
      </if>
      <if test="record.appFile != null" >
        app_file = #{record.appFile,jdbcType=VARCHAR},
      </if>
      <if test="record.appStatus != null" >
        app_status = #{record.appStatus,jdbcType=INTEGER},
      </if>
      <if test="record.appDealResult != null" >
        app_deal_result = #{record.appDealResult,jdbcType=VARCHAR},
      </if>
      <if test="record.appTime != null" >
        app_time = #{record.appTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update application
    set app_id = #{record.appId,jdbcType=INTEGER},
      app_type = #{record.appType,jdbcType=INTEGER},
      app_user_id = #{record.appUserId,jdbcType=INTEGER},
      app_to_user_id = #{record.appToUserId,jdbcType=INTEGER},
      app_user_name = #{record.appUserName,jdbcType=VARCHAR},
      app_gender = #{record.appGender,jdbcType=VARCHAR},
      app_user_tel_num = #{record.appUserTelNum,jdbcType=VARCHAR},
      app_user_detail_info = #{record.appUserDetailInfo,jdbcType=VARCHAR},
      app_reason = #{record.appReason,jdbcType=VARCHAR},
      app_file = #{record.appFile,jdbcType=VARCHAR},
      app_status = #{record.appStatus,jdbcType=INTEGER},
      app_deal_result = #{record.appDealResult,jdbcType=VARCHAR},
      app_time = #{record.appTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ljy.oneclub.entity.Application" >
    update application
    <set >
      <if test="appType != null" >
        app_type = #{appType,jdbcType=INTEGER},
      </if>
      <if test="appUserId != null" >
        app_user_id = #{appUserId,jdbcType=INTEGER},
      </if>
      <if test="appToUserId != null" >
        app_to_user_id = #{appToUserId,jdbcType=INTEGER},
      </if>
      <if test="appUserName != null" >
        app_user_name = #{appUserName,jdbcType=VARCHAR},
      </if>
      <if test="appGender != null" >
        app_gender = #{appGender,jdbcType=VARCHAR},
      </if>
      <if test="appUserTelNum != null" >
        app_user_tel_num = #{appUserTelNum,jdbcType=VARCHAR},
      </if>
      <if test="appUserDetailInfo != null" >
        app_user_detail_info = #{appUserDetailInfo,jdbcType=VARCHAR},
      </if>
      <if test="appReason != null" >
        app_reason = #{appReason,jdbcType=VARCHAR},
      </if>
      <if test="appFile != null" >
        app_file = #{appFile,jdbcType=VARCHAR},
      </if>
      <if test="appStatus != null" >
        app_status = #{appStatus,jdbcType=INTEGER},
      </if>
      <if test="appDealResult != null" >
        app_deal_result = #{appDealResult,jdbcType=VARCHAR},
      </if>
      <if test="appTime != null" >
        app_time = #{appTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where app_id = #{appId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ljy.oneclub.entity.Application" >
    update application
    set app_type = #{appType,jdbcType=INTEGER},
      app_user_id = #{appUserId,jdbcType=INTEGER},
      app_to_user_id = #{appToUserId,jdbcType=INTEGER},
      app_user_name = #{appUserName,jdbcType=VARCHAR},
      app_gender = #{appGender,jdbcType=VARCHAR},
      app_user_tel_num = #{appUserTelNum,jdbcType=VARCHAR},
      app_user_detail_info = #{appUserDetailInfo,jdbcType=VARCHAR},
      app_reason = #{appReason,jdbcType=VARCHAR},
      app_file = #{appFile,jdbcType=VARCHAR},
      app_status = #{appStatus,jdbcType=INTEGER},
      app_deal_result = #{appDealResult,jdbcType=VARCHAR},
      app_time = #{appTime,jdbcType=TIMESTAMP}
    where app_id = #{appId,jdbcType=INTEGER}
  </update>
  <select id="getApplicationByClubId" resultMap="applyJson">
    SELECT
	app_id,
    CASE
		WHEN app_type = 1 THEN
		'入会申请'
		WHEN app_type = 2 THEN
		'退会申请'
	END AS type,
	app_user_name,
	app_gender,
	app_user_tel_num,
	app_user_detail_info,
	app_reason,
    CASE
		WHEN app_status = 2 THEN
		'待处理'
		WHEN app_status = 1 THEN
		'申请成功'
		WHEN app_status = 0 THEN
		'申请失败'
	END AS astatus,
	app_deal_result,
	app_time
    FROM
	application
    WHERE
	app_to_user_id = #{clubId}
	order by app_time desc
  </select>
</mapper>